/*
    Living Styleguide for CSS To The Rescue

    By Tristan Jacobs - 2017
 */

/* Created with a Mobile First approach */

/* Some global styles */
body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

p {
    line-height: 150%;
    margin: 1em;
}

header h1 {
    text-align: center;
    color: rgb(30, 144, 255);
}

[role="main-navigation"] a{
    color: white;
    text-decoration: none;
}

input:focus,
input:active,
textarea:focus,
textarea:active,{
    outline: 20px solid rgb(255, 165, 0);
}

/* Helpers */
.hide {
    display: none;
}

/* Mobile */

/* Navigation */
[role="main-navigation"] {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background: rgb(30, 144, 255);
    color: white;
}

[role="main-navigation"] a{
    color: white;
    text-decoration: none;
}

[role="main-navigation"] h3,
[role="main-navigation"] span {
    padding: 0 2em;
    display: flex;
    align-items: center;
}
#navToggle {
    justify-content: flex-end;
    font-size: 150%;
}

[role="main-navigation"] ul {
    background: rgb(100, 149, 237);
    flex-basis: 100%;
    margin: 0;
    text-indent: -2em;
}

[role="main-navigation"] ul li {
    list-style: none;
    margin: 1em;
}

/* Progress Section */

[role="progress-indicator"] {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

[role="progress-indicator"] h2 {
    color: rgb(30, 144, 255);
}

[role="progress-indicator"] progress {
    width: 100%;
    border: none;
}

/* Prachtige selector strings incoming */

[role="progress-indicator"] progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
[role="progress-indicator"] progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    border: 1px solid rgb(211, 211, 211);
}
[role="progress-indicator"] progress[value]::-webkit-progress-value {
    background-color: lightgreen;
    border-radius: 2px;
}
[role="progress-indicator"] ol {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-right: 1em;
}
[role="progress-indicator"] ol li {
    line-height: 10pt;
}
[role="progress-indicator"] ol li:not(:nth-child(n+3)) a {
    color: rgb(144, 238, 144);
    font-weight: bold;
}
[role="progress-indicator"] ol li:not(:nth-child(n+3)):before {
    content:"\2713\0020";
    color: rgb(144, 238, 144);
}
[role="progress-indicator"] ol li:not(:nth-child(n+3)) {
    text-indent: -1.5em;
    list-style-type: none;
}

/* Login Form */

#main-content h3 {
    text-align: center;
    color: rgb(30, 144, 255);
}

#login-form {
    padding: 2em;
    display: flex;
    flex-direction: column;
}

#login-form > * {
    margin: 0.4em 0;
}
#login-form a {
    color: rgb(30, 144, 255);
}

#login-form label {
    font-weight: bold;
    color: rgb(30, 144, 255);
}
input {
    font-family: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 2em;
    padding: 0.5em 1em;
    font-size: larger;
    border: 2px solid rgb(169, 169, 169);
}

#field-stay-logged-in {
    display: none;
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0; top: -4px;
    width: 1.25em; height: 1.25em;
    border: 2px solid rgb(204, 204, 204);
    background: #fff;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: .1em; left: .3em;
    font-size: 1.3em;
    line-height: 0.8;
    color: rgb(9, 173, 126);
    transition: all .2s;
}
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    border: 2px dotted rgb(255, 165, 0);
}

[type="submit"] {
    margin-top: 1em;
    font-size: larger;
    padding: 1em;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background: rgb(144, 238, 144);
    border: none;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

[type="submit"]:hover {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    background: #09ad7e;
}

/* Chat */

.chat {
    background: rgb(119, 136, 153);
    padding: 2em;
    display: flex;
    flex-direction: column;

}
.chat form {
    width: 100%;
    display: flex;
    flex-direction: column;
}
[for="field-message"] {
    color: white;
    font-size: larger;
}
#field-message {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    resize: none;
    padding: 1em;
    margin: 0.5em 0;
    font-size: larger;
    font-family: inherit;
}
#field-message:focus {
    outline: 2px solid rgb(255, 165, 0);
}

.chat ol {
    list-style: none;
    padding: 0;
}
.chat ol li:nth-child(even) .message {
    background-color: rgb(30, 144, 255);
    color: white;
    font-size: larger;
    padding: 0.5em 1em;
    border-radius: 5px;
    margin-bottom: 0.7em;
    box-shadow: 3px 3px 15px 3px rgba(0,0,0,0.2)
}

.chat ol li:nth-child(odd) .message {
    font-size: larger;
    background-color: white;
    color: #333;
    text-align: right;
    padding: 0.5em 1em;
    border-radius: 5px;
    box-shadow: 3px 3px 15px 3px rgba(0,0,0,0.2)
}
.chat ol li footer p {
    color: white;
    font-size: 85%;
    line-height: 5pt;
}
.chat ol li:nth-child(odd) footer {
    text-align: right;
}
.chat ol li footer p[data-status="DELIVERED"] {
    color: white;
    font-style: italic;
}
.chat ol li footer p[data-status="READ"] {
    font-style: italic;
    color: white;
}

/* Article w. img */

.default-article {
    border-bottom: 1px solid rgb(211, 211, 211);
    margin: 2em 0;
}
.default-article h2 {
    padding: 0.7em;
}
.default-article h2 a {
    color: rgb(30, 144, 255);
    line-height: normal;
    text-decoration: none;
}
.default-article h2 a:hover {
    color: rgb(173, 216, 230);
    transition: 0.3s;
}
.article-img {
    width: 100%;
}

/* IMG w. title */

.img-w-title h1 {
    text-align: center;
    color: rgb(30, 144, 255);
    display: flex;
    flex-direction: column;
}
.img-w-title figure {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.img-w-title figure img {
    width: 100%;
}
.img-w-title figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em 0;
}
.img-w-title footer {
    font-size: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid rgb(211, 211, 211);
}
.img-w-title footer p {
    margin-bottom: -0.1em;
}

/* Rating */

/* Tablets */
@media only screen and (min-width: 700px) {
    body {
        flex-direction: row;
        flex-wrap: wrap;
    }
    header,
    [role="main-navigation"],
    [role="progress-indicator"] {
        flex-basis: 100%;
    }
    #main-content {
        flex-basis: 100%;
        padding: 2em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #main-content > *:not(:nth-child(n+3)) {
        flex-basis: 100%;
    }
    #main-content > *:nth-child(n+3) {
        flex-basis: 45%;
    }

    #login-form {
        padding: 0;
        margin-bottom: 2em;
    }
}
/* Desktops and up */
@media only screen and (min-width: 1260px) {
    #main-content {
        justify-content: space-between;
        align-items: flex-start;
    }

    #main-content > *:not(:nth-child(n+8)) {
        flex-basis: 30%;
    }
    #main-content article:nth-of-type(1),
    #main-content article:nth-of-type(2) {
        display: none;
    }
}